<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Great+Vibes"
      rel="stylesheet"
    />

    <!-- bootstrap css -->
    <link rel="stylesheet" href="./assets/css/open-iconic-bootstrap.min.css" />
    <!-- animate css -->
    <link rel="stylesheet" href="./assets/css/animate.css" />

    <!-- owl carasoul css -->
    <link rel="stylesheet" href="./assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="./assets/css/owl.theme.default.min.css" />
    <!-- magnific-popup css -->
    <link rel="stylesheet" href="./assets/css/magnific-popup.css" />

    <!-- aos js css -->
    <link rel="stylesheet" href="./assets/css/aos.css" />

    <!-- swiper css  -->
    <link
      rel="stylesheet"
      href="https://md-aqil.github.io/images/swiper.min.css"
    />

    <!-- ionicon css -->
    <link rel="stylesheet" href="./assets/css/ionicons.min.css" />

    <!-- bootstrapdate picker and time picker -->
    <link rel="stylesheet" href="./assets/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="./assets/css/jquery.timepicker.css" />

    <!-- flaticon css -->
    <link rel="stylesheet" href="./assets/css/flaticon.css" />
    <!-- icomoon icon css -->
    <link rel="stylesheet" href="./assets/css/icomoon.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>Reset Password</title>

    <style>
      .input-group-append {
        cursor: pointer;
      }

      .btn-outline-secondary {
        border-color: #ced4da;
        color: #6c757d;
        background-color: #fff;
      }

      .btn-outline-secondary:hover {
        color: #495057;
        background-color: #e9ecef;
      }

      .btn-outline-secondary:focus {
        box-shadow: none;
        border-color: #80bdff;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h2 class="text-center">Reset Password</h2>
          <form id="resetPasswordForm">
            <div class="form-group">
              <label for="new-password">New Password</label>
              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  id="new-password"
                  placeholder="Enter new password"
                  required
                />
                <div class="input-group-append">
                  <button
                    type="button"
                    class="btn btn-outline-secondary"
                    id="toggle-new-password"
                  >
                    Show
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="confirm-password">Confirm Password</label>
              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  id="confirm-password"
                  placeholder="Confirm new password"
                  required
                />
                <div class="input-group-append">
                  <button
                    type="button"
                    class="btn btn-outline-secondary"
                    id="toggle-confirm-password"
                  >
                    Show
                  </button>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">
                Reset Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      document
        .getElementById('resetPasswordForm')
        .addEventListener('submit', async function (event) {
          event.preventDefault();

          const newPassword = document.getElementById('new-password').value;
          const confirmPassword =
            document.getElementById('confirm-password').value;
          const resetToken = new URLSearchParams(window.location.search).get(
            'token',
          ); // Fetch token from URL

          if (newPassword !== confirmPassword) {
            alert('Passwords do not match.');
            return;
          }

          const apiKey = '<%= apiKey %>';
          const serverUrl = '<%= serverUrl %>';
          const myHeaders = new Headers();
          myHeaders.append('x-api-key', apiKey);
          myHeaders.append('Content-Type', 'application/json');

          const requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: JSON.stringify({ token: resetToken, newPassword }),
            redirect: 'follow',
          };

          try {
            const response = await fetch(
              `${serverUrl}/api/self-service/password/reset`,
              requestOptions,
            );
            const result = await response.json();
            if (result?.statusCode === '10000') {
              alert('Password successfully reset.');
              window.location.href = '/'; // Redirect to login page
            } else {
              alert('Failed to reset password: ' + result.message);
            }
          } catch (err) {
            console.error('Error:', err);
          }
        });

      // Toggle password visibility
      document
        .getElementById('toggle-new-password')
        .addEventListener('click', function () {
          const passwordField = document.getElementById('new-password');
          const passwordToggle = document.getElementById('toggle-new-password');
          if (passwordField.type === 'password') {
            passwordField.type = 'text';
            passwordToggle.textContent = 'Hide';
          } else {
            passwordField.type = 'password';
            passwordToggle.textContent = 'Show';
          }
        });

      document
        .getElementById('toggle-confirm-password')
        .addEventListener('click', function () {
          const passwordField = document.getElementById('confirm-password');
          const passwordToggle = document.getElementById(
            'toggle-confirm-password',
          );
          if (passwordField.type === 'password') {
            passwordField.type = 'text';
            passwordToggle.textContent = 'Hide';
          } else {
            passwordField.type = 'password';
            passwordToggle.textContent = 'Show';
          }
        });
    </script>
  </body>
</html>
